.product-item {
  background-color: white;
  width: 250px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  transition: 0.3s;


  &:hover {
    cursor: pointer;
    
    .image {
      scale: 1.1;
      transition: 0.3s;
    }
  }

  .image {
    width: 200px;
  }

  .name {
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
  }

  .price {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
}